.well.calendar-header
  = link_to date: date.prev_month do
    %i.icon-chevron-left
  = l(date, format: "%B %Y")
  = link_to date: date.next_month do
    %i.icon-chevron-right

= calendar.month_table(self) do |day|
  %dl
    %dt
      = link_to day.day, new_account_event_path(date: day), confirm: t(".create_event?")
    %dd
      - events[day].each do |event|
        %p
          = link_to_if (event.user == current_user), event.name, edit_account_event_path(event)
