= simple_form_for user, as: :account_user, url: url, html: { class: 'form-horizontal' } do |f|
  %legend
    = t ".change_profile"
  .inputs
    = f.error_notification
    = f.input :full_name
    = f.input :email
    = f.input :password, as: :password
    = f.input :password_confirmation, as: :password
  .form-actions
    = f.submit submit_message, class: "btn btn-primary"
    = link_to t('.cancel'), account_root_path, class: "btn btn-danger"
